<!-- @format -->

<!DOCTYPE html>
{% load static %}
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="app-name" content="website_viewer" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{% static 'style/webstyle.css' %}" />
		<title>Intro | College Recommendation System</title>
	</head>
	<body>
		<div class="start">
			<form action="/geninfo/" method="post" class="introform">
				{% csrf_token %}
				<h1 class="welcome">welcome, {{ nickname }}</h1>
				<div class="introtext">
					<p>
						This
						<b id="strong">
							College Recommendation System Based on User Knowledge using
							Multivariate Regression
						</b>
						will assist you in determining which college programs best match
						your skills and abilities by undergoing a similar approach of
						entrace exam. You will take an aptitude test with these subject
						areas:
					</p>
					<ul>
						<li>General Information</li>
						<li>Science</li>
						<li>Numerical Reasoning</li>
						<li>Verbal Reasoning</li>
						<li>Abstract Reasoning</li>
					</ul>
					<p>
						You must complete the test within <b id="strong">12 MINUTE'S</b>,
						allotted time for each subject area. All unfinished items will be
						considered wrong and/or the system will considered the whole subject
						as failed. Press the <b>Start Button</b> below to begin.
					</p>
					<br />
					<p class="warning">
						Notice:
						<u class="undelined"
							>Pleast take this seriously like a real entrance exam to make sure
							the effectiveness of recommendation and also review your answer
							before you submit.</u
						>
					</p>
					<br />
					<h3>God bless with your exam.</h3>
				</div>
				<div class="btnbox">
					<input type="submit" value="START" class="btn" />
				</div>
			</form>
		</div>
	</body>
</html>
