<html>
    <title>Science | Taguig City University</title>
    <head>
        <meta charset="utf-8">
        <meta name="app-name" content="website_viewer">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="/static/media/logo.png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <style>
        #html{
          margin: auto;
          width: 100%;
          overflow-y: scroll;
          overflow-x: hidden;
        }
    </style>
   <body style="background: linear-gradient(#e66465, #9198e5);background-repeat: no-repeat;background-attachment: fixed;">

        <!-- <img src="/static/media/26.png" alt="home" width="100%" height="100%" style="position: fixed; left: 0px; top:0px"> -->
        <img src="/static/media/subTextLogo.png" alt="home" width="80%" height="30%" style="position: absolute; left: 10%; top:5%; border-radius: 30px; ">

        <div id="bkg_white" style="position: absolute; left: 10%; top:37%; width: 80%; height: auto; background: #FFFFFF; border-radius: 30px;"></div>

        <h1 style="font-family:'Segoe UI';  font-size: 45px; color: #000000; width: 35%; height: 100px; position: absolute; left: 12%; top: 10%; text-align: left; ">Science</h1>


        <form action="/numerical_reasoning/" method="post" style="font-family:'Segoe UI';  font-size: 25px; color: #000000; width: 45%; height: 100px; position: absolute; left: 12%; top: 45%; text-align: left; ">
            {% csrf_token %}
            <img src="/static/media/{{science_pic_1}}" alt="" width="60%" height="300%" style="position: absolute; left: 110%;">
            <label for="fname">1. {{ science_question_1 }}</label><br><br>
            <input type="radio" id="science_choices_1" name="science_choices_1" value="{{ science_choices_1a }}">
            <label for="science_choices_1">{{ science_choices_1a }}</label><br>
            <input type="radio" id="science_choices_1" name="science_choices_1" value="{{ science_choices_1b }}">
            <label for="science_choices_1">{{ science_choices_1b }}</label><br>
            <input type="radio" id="science_choices_1" name="science_choices_1" value="{{ science_choices_1c }}">
            <label for="science_choices_1">{{ science_choices_1c }}</label><br>
            <input type="radio" id="science_choices_1" name="science_choices_1" value="{{ science_choices_1d }}">
            <label for="science_choices_1">{{ science_choices_1d }}</label><br>


            <br><br>


            <img src="/static/media/{{science_pic_2}}" alt="" width="60%" height="300%" style="position: absolute; left: 110%;">
            <label for="fname">2. {{ science_question_2 }}</label><br><br>
            <input type="radio" id="science_choices_2" name="science_choices_2" value="{{ science_choices_2a }}">
            <label for="science_choices_2">{{ science_choices_2a }}</label><br>
            <input type="radio" id="science_choices_2" name="science_choices_2" value="{{ science_choices_2b }}">
            <label for="science_choices_2">{{ science_choices_2b }}</label><br>
            <input type="radio" id="science_choices_2" name="science_choices_2" value="{{ science_choices_2c }}">
            <label for="science_choices_2">{{ science_choices_2c }}</label><br>
            <input type="radio" id="science_choices_2" name="science_choices_2" value="{{ science_choices_2d }}">
            <label for="science_choices_2">{{ science_choices_2d }}</label><br>


            <br><br>


            <img src="/static/media/{{science_pic_3}}" alt="" width="60%" height="300%" style="position: absolute; left: 110%;">
            <label for="fname">3. {{ science_question_3 }}</label><br><br>
            <input type="radio" id="science_choices_3" name="science_choices_3" value="{{ science_choices_3a }}">
            <label for="science_choices_3">{{ science_choices_3a }}</label><br>
            <input type="radio" id="science_choices_3" name="science_choices_3" value="{{ science_choices_3b }}">
            <label for="science_choices_3">{{ science_choices_3b }}</label><br>
            <input type="radio" id="science_choices_3" name="science_choices_3" value="{{ science_choices_3c }}">
            <label for="science_choices_3">{{ science_choices_3c }}</label><br>
            <input type="radio" id="science_choices_3" name="science_choices_3" value="{{ science_choices_3d }}">
            <label for="science_choices_3">{{ science_choices_3d }}</label><br>


            <br><br>


            <img src="/static/media/{{science_pic_4}}" alt="" width="60%" height="300%" style="position: absolute; left: 110%;">
            <label for="fname">4. {{ science_question_4 }}</label><br><br>
            <input type="radio" id="science_choices_4" name="science_choices_4" value="{{ science_choices_4a }}">
            <label for="science_choices_4">{{ science_choices_4a }}</label><br>
            <input type="radio" id="science_choices_4" name="science_choices_4" value="{{ science_choices_4b }}">
            <label for="science_choices_4">{{ science_choices_4b }}</label><br>
            <input type="radio" id="science_choices_4" name="science_choices_4" value="{{ science_choices_4c }}">
            <label for="science_choices_4">{{ science_choices_4c }}</label><br>
            <input type="radio" id="science_choices_4" name="science_choices_4" value="{{ science_choices_4d }}">
            <label for="science_choices_4">{{ science_choices_4d }}</label><br>


            <br><br>


            <img src="/static/media/{{science_pic_5}}" alt="" width="60%" height="300%" style="position: absolute; left: 110%;">
            <label for="fname">5. {{ science_question_5 }}</label><br><br>
            <input type="radio" id="science_choices_5" name="science_choices_5" value="{{ science_choices_5a }}">
            <label for="science_choices_5">{{ science_choices_5a }}</label><br>
            <input type="radio" id="science_choices_5" name="science_choices_5" value="{{ science_choices_5b }}">
            <label for="science_choices_5">{{ science_choices_5b }}</label><br>
            <input type="radio" id="science_choices_5" name="science_choices_5" value="{{ science_choices_5c }}">
            <label for="science_choices_5">{{ science_choices_5c }}</label><br>
            <input type="radio" id="science_choices_5" name="science_choices_5" value="{{ science_choices_5d }}">
            <label for="science_choices_5">{{ science_choices_5d }}</label><br>


            <br><br>


            <img src="/static/media/{{science_pic_6}}" alt="" width="60%" height="300%" style="position: absolute; left: 110%;">
            <label for="fname">6. {{ science_question_6 }}</label><br><br>
            <input type="radio" id="science_choices_6" name="science_choices_6" value="{{ science_choices_6a }}">
            <label for="science_choices_6">{{ science_choices_6a }}</label><br>
            <input type="radio" id="science_choices_6" name="science_choices_6" value="{{ science_choices_6b }}">
            <label for="science_choices_6">{{ science_choices_6b }}</label><br>
            <input type="radio" id="science_choices_6" name="science_choices_6" value="{{ science_choices_6c }}">
            <label for="science_choices_6">{{ science_choices_6c }}</label><br>
            <input type="radio" id="science_choices_6" name="science_choices_6" value="{{ science_choices_6d }}">
            <label for="science_choices_6">{{ science_choices_6d }}</label><br>


            <br><br>


            <img src="/static/media/{{science_pic_7}}" alt="" width="60%" height="300%" style="position: absolute; left: 110%;">
            <label for="fname">7. {{ science_question_7 }}</label><br><br>
            <input type="radio" id="science_choices_7" name="science_choices_7" value="{{ science_choices_7a }}">
            <label for="science_choices_7">{{ science_choices_7a }}</label><br>
            <input type="radio" id="science_choices_7" name="science_choices_7" value="{{ science_choices_7b }}">
            <label for="science_choices_7">{{ science_choices_7b }}</label><br>
            <input type="radio" id="science_choices_7" name="science_choices_7" value="{{ science_choices_7c }}">
            <label for="science_choices_7">{{ science_choices_7c }}</label><br>
            <input type="radio" id="science_choices_7" name="science_choices_7" value="{{ science_choices_7d }}">
            <label for="science_choices_7">{{ science_choices_7d }}</label><br>


            <br><br>


            <img src="/static/media/{{science_pic_8}}" alt="" width="60%" height="300%" style="position: absolute; left: 110%;">
            <label for="fname">8. {{ science_question_8 }}</label><br><br>
            <input type="radio" id="science_choices_8" name="science_choices_8" value="{{ science_choices_8a }}">
            <label for="science_choices_8">{{ science_choices_8a }}</label><br>
            <input type="radio" id="science_choices_8" name="science_choices_8" value="{{ science_choices_8b }}">
            <label for="science_choices_8">{{ science_choices_8b }}</label><br>
            <input type="radio" id="science_choices_8" name="science_choices_8" value="{{ science_choices_8c }}">
            <label for="science_choices_8">{{ science_choices_8c }}</label><br>
            <input type="radio" id="science_choices_8" name="science_choices_8" value="{{ science_choices_8d }}">
            <label for="science_choices_8">{{ science_choices_8d }}</label><br>


            <br><br>


            <img src="/static/media/{{science_pic_9}}" alt="" width="60%" height="300%" style="position: absolute; left: 110%;">
            <label for="fname">9. {{ science_question_9 }}</label><br><br>
            <input type="radio" id="science_choices_9" name="science_choices_9" value="{{ science_choices_9a }}">
            <label for="science_choices_9">{{ science_choices_9a }}</label><br>
            <input type="radio" id="science_choices_9" name="science_choices_9" value="{{ science_choices_9b }}">
            <label for="science_choices_9">{{ science_choices_9b }}</label><br>
            <input type="radio" id="science_choices_9" name="science_choices_9" value="{{ science_choices_9c }}">
            <label for="science_choices_9">{{ science_choices_9c }}</label><br>
            <input type="radio" id="science_choices_9" name="science_choices_9" value="{{ science_choices_9d }}">
            <label for="science_choices_9">{{ science_choices_9d }}</label><br>


            <br><br>


            <img src="/static/media/{{science_pic_10}}" alt="" width="60%" height="300%" style="position: absolute; left: 110%;">
            <label for="fname">10. {{ science_question_10 }}</label><br><br>
            <input type="radio" id="science_choices_10" name="science_choices_10" value="{{ science_choices_10a }}">
            <label for="science_choices_10">{{ science_choices_10a }}</label><br>
            <input type="radio" id="science_choices_10" name="science_choices_10" value="{{ science_choices_10b }}">
            <label for="science_choices_10">{{ science_choices_10b }}</label><br>
            <input type="radio" id="science_choices_10" name="science_choices_10" value="{{ science_choices_10c }}">
            <label for="science_choices_10">{{ science_choices_10c }}</label><br>
            <input type="radio" id="science_choices_10" name="science_choices_10" value="{{ science_choices_10d }}">
            <label for="science_choices_10">{{ science_choices_10d }}</label><br>


            <br><br>


            <img src="/static/media/{{science_pic_11}}" alt="" width="60%" height="300%" style="position: absolute; left: 110%;">
            <label for="fname">11. {{ science_question_11 }}</label><br><br>
            <input type="radio" id="science_choices_11" name="science_choices_11" value="{{ science_choices_11a }}">
            <label for="science_choices_11">{{ science_choices_11a }}</label><br>
            <input type="radio" id="science_choices_11" name="science_choices_11" value="{{ science_choices_11b }}">
            <label for="science_choices_11">{{ science_choices_11b }}</label><br>
            <input type="radio" id="science_choices_11" name="science_choices_11" value="{{ science_choices_11c }}">
            <label for="science_choices_11">{{ science_choices_11c }}</label><br>
            <input type="radio" id="science_choices_11" name="science_choices_11" value="{{ science_choices_11d }}">
            <label for="science_choices_11">{{ science_choices_11d }}</label><br>


            <br><br>


            <img src="/static/media/{{science_pic_12}}" alt="" width="60%" height="300%" style="position: absolute; left: 110%;">
            <label for="fname">12. {{ science_question_12 }}</label><br><br>
            <input type="radio" id="science_choices_12" name="science_choices_12" value="{{ science_choices_12a }}">
            <label for="science_choices_12">{{ science_choices_12a }}</label><br>
            <input type="radio" id="science_choices_12" name="science_choices_12" value="{{ science_choices_12b }}">
            <label for="science_choices_12">{{ science_choices_12b }}</label><br>
            <input type="radio" id="science_choices_12" name="science_choices_12" value="{{ science_choices_12c }}">
            <label for="science_choices_12">{{ science_choices_12c }}</label><br>
            <input type="radio" id="science_choices_12" name="science_choices_12" value="{{ science_choices_12d }}">
            <label for="science_choices_12">{{ science_choices_12d }}</label><br>


            <br><br>


            <img src="/static/media/{{science_pic_13}}" alt="" width="60%" height="300%" style="position: absolute; left: 110%;">
            <label for="fname">13. {{ science_question_13 }}</label><br><br>
            <input type="radio" id="science_choices_13" name="science_choices_13" value="{{ science_choices_13a }}">
            <label for="science_choices_13">{{ science_choices_13a }}</label><br>
            <input type="radio" id="science_choices_13" name="science_choices_13" value="{{ science_choices_13b }}">
            <label for="science_choices_13">{{ science_choices_13b }}</label><br>
            <input type="radio" id="science_choices_13" name="science_choices_13" value="{{ science_choices_13c }}">
            <label for="science_choices_13">{{ science_choices_13c }}</label><br>
            <input type="radio" id="science_choices_13" name="science_choices_13" value="{{ science_choices_13d }}">
            <label for="science_choices_13">{{ science_choices_13d }}</label><br>


            <br><br>


            <img src="/static/media/{{science_pic_14}}" alt="" width="60%" height="300%" style="position: absolute; left: 110%;">
            <label for="fname">14. {{ science_question_14 }}</label><br><br>
            <input type="radio" id="science_choices_14" name="science_choices_14" value="{{ science_choices_14a }}">
            <label for="science_choices_14">{{ science_choices_14a }}</label><br>
            <input type="radio" id="science_choices_14" name="science_choices_14" value="{{ science_choices_14b }}">
            <label for="science_choices_14">{{ science_choices_14b }}</label><br>
            <input type="radio" id="science_choices_14" name="science_choices_14" value="{{ science_choices_14c }}">
            <label for="science_choices_14">{{ science_choices_14c }}</label><br>
            <input type="radio" id="science_choices_14" name="science_choices_14" value="{{ science_choices_14d }}">
            <label for="science_choices_14">{{ science_choices_14d }}</label><br>


            <br><br>


            <img src="/static/media/{{science_pic_15}}" alt="" width="60%" height="300%" style="position: absolute; left: 110%;">
            <label for="fname">15. {{ science_question_15 }}</label><br><br>
            <input type="radio" id="science_choices_15" name="science_choices_15" value="{{ science_choices_15a }}">
            <label for="science_choices_15">{{ science_choices_15a }}</label><br>
            <input type="radio" id="science_choices_15" name="science_choices_15" value="{{ science_choices_15b }}">
            <label for="science_choices_15">{{ science_choices_15b }}</label><br>
            <input type="radio" id="science_choices_15" name="science_choices_15" value="{{ science_choices_15c }}">
            <label for="science_choices_15">{{ science_choices_15c }}</label><br>
            <input type="radio" id="science_choices_15" name="science_choices_15" value="{{ science_choices_15d }}">
            <label for="science_choices_15">{{ science_choices_15d }}</label><br>


            <br><br>


            <img src="/static/media/{{science_pic_16}}" alt="" width="60%" height="300%" style="position: absolute; left: 110%;">
            <label for="fname">16. {{ science_question_16 }}</label><br><br>
            <input type="radio" id="science_choices_16" name="science_choices_16" value="{{ science_choices_16a }}">
            <label for="science_choices_16">{{ science_choices_16a }}</label><br>
            <input type="radio" id="science_choices_16" name="science_choices_16" value="{{ science_choices_16b }}">
            <label for="science_choices_16">{{ science_choices_16b }}</label><br>
            <input type="radio" id="science_choices_16" name="science_choices_16" value="{{ science_choices_16c }}">
            <label for="science_choices_16">{{ science_choices_16c }}</label><br>
            <input type="radio" id="science_choices_16" name="science_choices_16" value="{{ science_choices_16d }}">
            <label for="science_choices_16">{{ science_choices_16d }}</label><br>


            <br><br>


            <img src="/static/media/{{science_pic_17}}" alt="" width="60%" height="300%" style="position: absolute; left: 110%;">
            <label for="fname">17. {{ science_question_17 }}</label><br><br>
            <input type="radio" id="science_choices_17" name="science_choices_17" value="{{ science_choices_17a }}">
            <label for="science_choices_17">{{ science_choices_17a }}</label><br>
            <input type="radio" id="science_choices_17" name="science_choices_17" value="{{ science_choices_17b }}">
            <label for="science_choices_17">{{ science_choices_17b }}</label><br>
            <input type="radio" id="science_choices_17" name="science_choices_17" value="{{ science_choices_17c }}">
            <label for="science_choices_17">{{ science_choices_17c }}</label><br>
            <input type="radio" id="science_choices_17" name="science_choices_17" value="{{ science_choices_17d }}">
            <label for="science_choices_17">{{ science_choices_17d }}</label><br>


            <br><br>


            <img src="/static/media/{{science_pic_18}}" alt="" width="60%" height="300%" style="position: absolute; left: 110%;">
            <label for="fname">18. {{ science_question_18 }}</label><br><br>
            <input type="radio" id="science_choices_18" name="science_choices_18" value="{{ science_choices_18a }}">
            <label for="science_choices_18">{{ science_choices_18a }}</label><br>
            <input type="radio" id="science_choices_18" name="science_choices_18" value="{{ science_choices_18b }}">
            <label for="science_choices_18">{{ science_choices_18b }}</label><br>
            <input type="radio" id="science_choices_18" name="science_choices_18" value="{{ science_choices_18c }}">
            <label for="science_choices_18">{{ science_choices_18c }}</label><br>
            <input type="radio" id="science_choices_18" name="science_choices_18" value="{{ science_choices_18d }}">
            <label for="science_choices_18">{{ science_choices_18d }}</label><br>


            <br><br>


            <img src="/static/media/{{science_pic_19}}" alt="" width="60%" height="300%" style="position: absolute; left: 110%;">
            <label for="fname">19. {{ science_question_19 }}</label><br><br>
            <input type="radio" id="science_choices_19" name="science_choices_19" value="{{ science_choices_19a }}">
            <label for="science_choices_19">{{ science_choices_19a }}</label><br>
            <input type="radio" id="science_choices_19" name="science_choices_19" value="{{ science_choices_19b }}">
            <label for="science_choices_19">{{ science_choices_19b }}</label><br>
            <input type="radio" id="science_choices_19" name="science_choices_19" value="{{ science_choices_19c }}">
            <label for="science_choices_19">{{ science_choices_19c }}</label><br>
            <input type="radio" id="science_choices_19" name="science_choices_19" value="{{ science_choices_19d }}">
            <label for="science_choices_19">{{ science_choices_19d }}</label><br>


            <br><br>


            <img src="/static/media/{{science_pic_20}}" alt="" width="60%" height="300%" style="position: absolute; left: 110%;">
            <label for="fname">20. {{ science_question_20 }}</label><br><br>
            <input type="radio" id="science_choices_20" name="science_choices_20" value="{{ science_choices_20a }}">
            <label for="science_choices_20">{{ science_choices_20a }}</label><br>
            <input type="radio" id="science_choices_20" name="science_choices_20" value="{{ science_choices_20b }}">
            <label for="science_choices_20">{{ science_choices_20b }}</label><br>
            <input type="radio" id="science_choices_20" name="science_choices_20" value="{{ science_choices_20c }}">
            <label for="science_choices_20">{{ science_choices_20c }}</label><br>
            <input type="radio" id="science_choices_20" name="science_choices_20" value="{{ science_choices_20d }}">
            <label for="science_choices_20">{{ science_choices_20d }}</label><br>


            <br><br>


            <img src="/static/media/{{science_pic_21}}" alt="" width="60%" height="300%" style="position: absolute; left: 110%;">
            <label for="fname">21. {{ science_question_21 }}</label><br><br>
            <input type="radio" id="science_choices_21" name="science_choices_21" value="{{ science_choices_21a }}">
            <label for="science_choices_21">{{ science_choices_21a }}</label><br>
            <input type="radio" id="science_choices_21" name="science_choices_21" value="{{ science_choices_21b }}">
            <label for="science_choices_21">{{ science_choices_21b }}</label><br>
            <input type="radio" id="science_choices_21" name="science_choices_21" value="{{ science_choices_21c }}">
            <label for="science_choices_21">{{ science_choices_21c }}</label><br>
            <input type="radio" id="science_choices_21" name="science_choices_21" value="{{ science_choices_21d }}">
            <label for="science_choices_21">{{ science_choices_21d }}</label><br>


            <br><br>


            <img src="/static/media/{{science_pic_22}}" alt="" width="60%" height="300%" style="position: absolute; left: 110%;">
            <label for="fname">22. {{ science_question_22 }}</label><br><br>
            <input type="radio" id="science_choices_22" name="science_choices_22" value="{{ science_choices_22a }}">
            <label for="science_choices_22">{{ science_choices_22a }}</label><br>
            <input type="radio" id="science_choices_22" name="science_choices_22" value="{{ science_choices_22b }}">
            <label for="science_choices_22">{{ science_choices_22b }}</label><br>
            <input type="radio" id="science_choices_22" name="science_choices_22" value="{{ science_choices_22c }}">
            <label for="science_choices_22">{{ science_choices_22c }}</label><br>
            <input type="radio" id="science_choices_22" name="science_choices_22" value="{{ science_choices_22d }}">
            <label for="science_choices_22">{{ science_choices_22d }}</label><br>


            <br><br>


            <img src="/static/media/{{science_pic_23}}" alt="" width="60%" height="300%" style="position: absolute; left: 110%;">
            <label for="fname">23. {{ science_question_23 }}</label><br><br>
            <input type="radio" id="science_choices_23" name="science_choices_23" value="{{ science_choices_23a }}">
            <label for="science_choices_23">{{ science_choices_23a }}</label><br>
            <input type="radio" id="science_choices_23" name="science_choices_23" value="{{ science_choices_23b }}">
            <label for="science_choices_23">{{ science_choices_23b }}</label><br>
            <input type="radio" id="science_choices_23" name="science_choices_23" value="{{ science_choices_23c }}">
            <label for="science_choices_23">{{ science_choices_23c }}</label><br>
            <input type="radio" id="science_choices_23" name="science_choices_23" value="{{ science_choices_23d }}">
            <label for="science_choices_23">{{ science_choices_23d }}</label><br>


            <br><br>


            <img src="/static/media/{{science_pic_24}}" alt="" width="60%" height="300%" style="position: absolute; left: 110%;">
            <label for="fname">24. {{ science_question_24 }}</label><br><br>
            <input type="radio" id="science_choices_24" name="science_choices_24" value="{{ science_choices_24a }}">
            <label for="science_choices_24">{{ science_choices_24a }}</label><br>
            <input type="radio" id="science_choices_24" name="science_choices_24" value="{{ science_choices_24b }}">
            <label for="science_choices_24">{{ science_choices_24b }}</label><br>
            <input type="radio" id="science_choices_24" name="science_choices_24" value="{{ science_choices_24c }}">
            <label for="science_choices_24">{{ science_choices_24c }}</label><br>
            <input type="radio" id="science_choices_24" name="science_choices_24" value="{{ science_choices_24d }}">
            <label for="science_choices_24">{{ science_choices_24d }}</label><br>


            <br><br>


            <img src="/static/media/{{science_pic_25}}" alt="" width="60%" height="300%" style="position: absolute; left: 110%;">
            <label for="fname">25. {{ science_question_25 }}</label><br><br>
            <input type="radio" id="science_choices_25" name="science_choices_25" value="{{ science_choices_25a }}">
            <label for="science_choices_25">{{ science_choices_25a }}</label><br>
            <input type="radio" id="science_choices_25" name="science_choices_25" value="{{ science_choices_25b }}">
            <label for="science_choices_25">{{ science_choices_25b }}</label><br>
            <input type="radio" id="science_choices_25" name="science_choices_25" value="{{ science_choices_25c }}">
            <label for="science_choices_25">{{ science_choices_25c }}</label><br>
            <input type="radio" id="science_choices_25" name="science_choices_25" value="{{ science_choices_25d }}">
            <label for="science_choices_25">{{ science_choices_25d }}</label><br>


            <br><br>


            <img src="/static/media/{{science_pic_26}}" alt="" width="60%" height="300%" style="position: absolute; left: 110%;">
            <label for="fname">26. {{ science_question_26 }}</label><br><br>
            <input type="radio" id="science_choices_26" name="science_choices_26" value="{{ science_choices_26a }}">
            <label for="science_choices_26">{{ science_choices_26a }}</label><br>
            <input type="radio" id="science_choices_26" name="science_choices_26" value="{{ science_choices_26b }}">
            <label for="science_choices_26">{{ science_choices_26b }}</label><br>
            <input type="radio" id="science_choices_26" name="science_choices_26" value="{{ science_choices_26c }}">
            <label for="science_choices_26">{{ science_choices_26c }}</label><br>
            <input type="radio" id="science_choices_26" name="science_choices_26" value="{{ science_choices_26d }}">
            <label for="science_choices_26">{{ science_choices_26d }}</label><br>


            <br><br>


            <img src="/static/media/{{science_pic_27}}" alt="" width="60%" height="300%" style="position: absolute; left: 110%;">
            <label for="fname">27. {{ science_question_27 }}</label><br><br>
            <input type="radio" id="science_choices_27" name="science_choices_27" value="{{ science_choices_27a }}">
            <label for="science_choices_27">{{ science_choices_27a }}</label><br>
            <input type="radio" id="science_choices_27" name="science_choices_27" value="{{ science_choices_27b }}">
            <label for="science_choices_27">{{ science_choices_27b }}</label><br>
            <input type="radio" id="science_choices_27" name="science_choices_27" value="{{ science_choices_27c }}">
            <label for="science_choices_27">{{ science_choices_27c }}</label><br>
            <input type="radio" id="science_choices_27" name="science_choices_27" value="{{ science_choices_27d }}">
            <label for="science_choices_27">{{ science_choices_27d }}</label><br>


            <br><br>


            <img src="/static/media/{{science_pic_28}}" alt="" width="60%" height="300%" style="position: absolute; left: 110%;">
            <label for="fname">28. {{ science_question_28 }}</label><br><br>
            <input type="radio" id="science_choices_28" name="science_choices_28" value="{{ science_choices_28a }}">
            <label for="science_choices_28">{{ science_choices_28a }}</label><br>
            <input type="radio" id="science_choices_28" name="science_choices_28" value="{{ science_choices_28b }}">
            <label for="science_choices_28">{{ science_choices_28b }}</label><br>
            <input type="radio" id="science_choices_28" name="science_choices_28" value="{{ science_choices_28c }}">
            <label for="science_choices_28">{{ science_choices_28c }}</label><br>
            <input type="radio" id="science_choices_28" name="science_choices_28" value="{{ science_choices_28d }}">
            <label for="science_choices_28">{{ science_choices_28d }}</label><br>


            <br><br>


            <img src="/static/media/{{science_pic_29}}" alt="" width="60%" height="300%" style="position: absolute; left: 110%;">
            <label for="fname">29. {{ science_question_29 }}</label><br><br>
            <input type="radio" id="science_choices_29" name="science_choices_29" value="{{ science_choices_29a }}">
            <label for="science_choices_29">{{ science_choices_29a }}</label><br>
            <input type="radio" id="science_choices_29" name="science_choices_29" value="{{ science_choices_29b }}">
            <label for="science_choices_29">{{ science_choices_29b }}</label><br>
            <input type="radio" id="science_choices_29" name="science_choices_29" value="{{ science_choices_29c }}">
            <label for="science_choices_29">{{ science_choices_29c }}</label><br>
            <input type="radio" id="science_choices_29" name="science_choices_29" value="{{ science_choices_29d }}">
            <label for="science_choices_29">{{ science_choices_29d }}</label><br>


            <br><br>


            <img src="/static/media/{{science_pic_30}}" alt="" width="60%" height="300%" style="position: absolute; left: 110%;">
            <label for="fname">30. {{ science_question_30 }}</label><br><br>
            <input type="radio" id="science_choices_30" name="science_choices_30" value="{{ science_choices_30a }}">
            <label for="science_choices_30">{{ science_choices_30a }}</label><br>
            <input type="radio" id="science_choices_30" name="science_choices_30" value="{{ science_choices_30b }}">
            <label for="science_choices_30">{{ science_choices_30b }}</label><br>
            <input type="radio" id="science_choices_30" name="science_choices_30" value="{{ science_choices_30c }}">
            <label for="science_choices_30">{{ science_choices_30c }}</label><br>
            <input type="radio" id="science_choices_30" name="science_choices_30" value="{{ science_choices_30d }}">
            <label for="science_choices_30">{{ science_choices_30d }}</label><br>


            <br><br>


            <img src="/static/media/{{science_pic_31}}" alt="" width="60%" height="300%" style="position: absolute; left: 110%;">
            <label for="fname">31. {{ science_question_31 }}</label><br><br>
            <input type="radio" id="science_choices_31" name="science_choices_31" value="{{ science_choices_31a }}">
            <label for="science_choices_31">{{ science_choices_31a }}</label><br>
            <input type="radio" id="science_choices_31" name="science_choices_31" value="{{ science_choices_31b }}">
            <label for="science_choices_31">{{ science_choices_31b }}</label><br>
            <input type="radio" id="science_choices_31" name="science_choices_31" value="{{ science_choices_31c }}">
            <label for="science_choices_31">{{ science_choices_31c }}</label><br>
            <input type="radio" id="science_choices_31" name="science_choices_31" value="{{ science_choices_31d }}">
            <label for="science_choices_31">{{ science_choices_31d }}</label><br>


            <br><br>


            <img src="/static/media/{{science_pic_32}}" alt="" width="60%" height="300%" style="position: absolute; left: 110%;">
            <label for="fname">32. {{ science_question_32 }}</label><br><br>
            <input type="radio" id="science_choices_32" name="science_choices_32" value="{{ science_choices_32a }}">
            <label for="science_choices_32">{{ science_choices_32a }}</label><br>
            <input type="radio" id="science_choices_32" name="science_choices_32" value="{{ science_choices_32b }}">
            <label for="science_choices_32">{{ science_choices_32b }}</label><br>
            <input type="radio" id="science_choices_32" name="science_choices_32" value="{{ science_choices_32c }}">
            <label for="science_choices_32">{{ science_choices_32c }}</label><br>
            <input type="radio" id="science_choices_32" name="science_choices_32" value="{{ science_choices_32d }}">
            <label for="science_choices_32">{{ science_choices_32d }}</label><br>


            <br><br>


            <img src="/static/media/{{science_pic_33}}" alt="" width="60%" height="300%" style="position: absolute; left: 110%;">
            <label for="fname">33. {{ science_question_33 }}</label><br><br>
            <input type="radio" id="science_choices_33" name="science_choices_33" value="{{ science_choices_33a }}">
            <label for="science_choices_33">{{ science_choices_33a }}</label><br>
            <input type="radio" id="science_choices_33" name="science_choices_33" value="{{ science_choices_33b }}">
            <label for="science_choices_33">{{ science_choices_33b }}</label><br>
            <input type="radio" id="science_choices_33" name="science_choices_33" value="{{ science_choices_33c }}">
            <label for="science_choices_33">{{ science_choices_33c }}</label><br>
            <input type="radio" id="science_choices_33" name="science_choices_33" value="{{ science_choices_33d }}">
            <label for="science_choices_33">{{ science_choices_33d }}</label><br>


            <br><br>


            <img src="/static/media/{{science_pic_34}}" alt="" width="60%" height="300%" style="position: absolute; left: 110%;">
            <label for="fname">34. {{ science_question_34 }}</label><br><br>
            <input type="radio" id="science_choices_34" name="science_choices_34" value="{{ science_choices_34a }}">
            <label for="science_choices_34">{{ science_choices_34a }}</label><br>
            <input type="radio" id="science_choices_34" name="science_choices_34" value="{{ science_choices_34b }}">
            <label for="science_choices_34">{{ science_choices_34b }}</label><br>
            <input type="radio" id="science_choices_34" name="science_choices_34" value="{{ science_choices_34c }}">
            <label for="science_choices_34">{{ science_choices_34c }}</label><br>
            <input type="radio" id="science_choices_34" name="science_choices_34" value="{{ science_choices_34d }}">
            <label for="science_choices_34">{{ science_choices_34d }}</label><br>


            <br><br>


            <img src="/static/media/{{science_pic_35}}" alt="" width="60%" height="300%" style="position: absolute; left: 110%;">
            <label for="fname">35. {{ science_question_35 }}</label><br><br>
            <input type="radio" id="science_choices_35" name="science_choices_35" value="{{ science_choices_35a }}">
            <label for="science_choices_35">{{ science_choices_35a }}</label><br>
            <input type="radio" id="science_choices_35" name="science_choices_35" value="{{ science_choices_35b }}">
            <label for="science_choices_35">{{ science_choices_35b }}</label><br>
            <input type="radio" id="science_choices_35" name="science_choices_35" value="{{ science_choices_35c }}">
            <label for="science_choices_35">{{ science_choices_35c }}</label><br>
            <input type="radio" id="science_choices_35" name="science_choices_35" value="{{ science_choices_35d }}">
            <label for="science_choices_35">{{ science_choices_35d }}</label><br>


            <br><br>


            <img src="/static/media/{{science_pic_36}}" alt="" width="60%" height="300%" style="position: absolute; left: 110%;">
            <label for="fname">36. {{ science_question_36 }}</label><br><br>
            <input type="radio" id="science_choices_36" name="science_choices_36" value="{{ science_choices_36a }}">
            <label for="science_choices_36">{{ science_choices_36a }}</label><br>
            <input type="radio" id="science_choices_36" name="science_choices_36" value="{{ science_choices_36b }}">
            <label for="science_choices_36">{{ science_choices_36b }}</label><br>
            <input type="radio" id="science_choices_36" name="science_choices_36" value="{{ science_choices_36c }}">
            <label for="science_choices_36">{{ science_choices_36c }}</label><br>
            <input type="radio" id="science_choices_36" name="science_choices_36" value="{{ science_choices_36d }}">
            <label for="science_choices_36">{{ science_choices_36d }}</label><br>


            <br><br>


            <img src="/static/media/{{science_pic_37}}" alt="" width="60%" height="300%" style="position: absolute; left: 110%;">
            <label for="fname">37. {{ science_question_37 }}</label><br><br>
            <input type="radio" id="science_choices_37" name="science_choices_37" value="{{ science_choices_37a }}">
            <label for="science_choices_37">{{ science_choices_37a }}</label><br>
            <input type="radio" id="science_choices_37" name="science_choices_37" value="{{ science_choices_37b }}">
            <label for="science_choices_37">{{ science_choices_37b }}</label><br>
            <input type="radio" id="science_choices_37" name="science_choices_37" value="{{ science_choices_37c }}">
            <label for="science_choices_37">{{ science_choices_37c }}</label><br>
            <input type="radio" id="science_choices_37" name="science_choices_37" value="{{ science_choices_37d }}">
            <label for="science_choices_37">{{ science_choices_37d }}</label><br>


            <br><br>


            <img src="/static/media/{{science_pic_38}}" alt="" width="60%" height="300%" style="position: absolute; left: 110%;">
            <label for="fname">38. {{ science_question_38 }}</label><br><br>
            <input type="radio" id="science_choices_38" name="science_choices_38" value="{{ science_choices_38a }}">
            <label for="science_choices_38">{{ science_choices_38a }}</label><br>
            <input type="radio" id="science_choices_38" name="science_choices_38" value="{{ science_choices_38b }}">
            <label for="science_choices_38">{{ science_choices_38b }}</label><br>
            <input type="radio" id="science_choices_38" name="science_choices_38" value="{{ science_choices_38c }}">
            <label for="science_choices_38">{{ science_choices_38c }}</label><br>
            <input type="radio" id="science_choices_38" name="science_choices_38" value="{{ science_choices_38d }}">
            <label for="science_choices_38">{{ science_choices_38d }}</label><br>


            <br><br>


            <img src="/static/media/{{science_pic_39}}" alt="" width="60%" height="300%" style="position: absolute; left: 110%;">
            <label for="fname">39. {{ science_question_39 }}</label><br><br>
            <input type="radio" id="science_choices_39" name="science_choices_39" value="{{ science_choices_39a }}">
            <label for="science_choices_39">{{ science_choices_39a }}</label><br>
            <input type="radio" id="science_choices_39" name="science_choices_39" value="{{ science_choices_39b }}">
            <label for="science_choices_39">{{ science_choices_39b }}</label><br>
            <input type="radio" id="science_choices_39" name="science_choices_39" value="{{ science_choices_39c }}">
            <label for="science_choices_39">{{ science_choices_39c }}</label><br>
            <input type="radio" id="science_choices_39" name="science_choices_39" value="{{ science_choices_39d }}">
            <label for="science_choices_39">{{ science_choices_39d }}</label><br>


            <br><br>


            <img src="/static/media/{{science_pic_40}}" alt="" width="60%" height="300%" style="position: absolute; left: 110%;">
            <label for="fname">40. {{ science_question_40 }}</label><br><br>
            <input type="radio" id="science_choices_40" name="science_choices_40" value="{{ science_choices_40a }}">
            <label for="science_choices_40">{{ science_choices_40a }}</label><br>
            <input type="radio" id="science_choices_40" name="science_choices_40" value="{{ science_choices_40b }}">
            <label for="science_choices_40">{{ science_choices_40b }}</label><br>
            <input type="radio" id="science_choices_40" name="science_choices_40" value="{{ science_choices_40c }}">
            <label for="science_choices_40">{{ science_choices_40c }}</label><br>
            <input type="radio" id="science_choices_40" name="science_choices_40" value="{{ science_choices_40d }}">
            <label for="science_choices_40">{{ science_choices_40d }}</label><br>


            <br><br>



            <input type="submit" value="Next Subject" style="font-family:'Segoe UI';  font-size: 25px; background: #00AA00 ;color: #ffffff; width: 30%; height: 50%; position: absolute; left: -2%; text-align: center; border-radius: 10px; font-weight: bold;">
            <input type="hidden" id="nickname_1" name="custId" value="{{nickname_1}}">
        </form>
    </body>

    <div>Time left = <span id="timer"></span></div>
    <style>
         div{
        background-color:#419D78;
        color:#EFD0CA;
        font-size:20px;
        text-align:center;
        position: fixed;
        left:0px;
        top: 0px;
        width: 100%;
        }
    </style>

    <script>
        
        
        document.getElementById('timer').innerHTML = 12 + ":" + 01;
        startTimer();
        document.getElementById("bkg_white").style.height = document.body.scrollHeight - 200;
        document.getElementById("html").style.height = document.body.scrollHeight +300;

        function startTimer() {
        var presentTime = document.getElementById('timer').innerHTML;
        var timeArray = presentTime.split(/[:]+/);
        var m = timeArray[0];
        var s = checkSecond((timeArray[1] - 1));
        if(s==59){m=m-1}
        if(m<0){
            document.querySelector("form").submit();
            return
        }
        
        document.getElementById('timer').innerHTML = m + ":" + s;
        console.log(m)
        setTimeout(startTimer, 1000);
        
        }

        function checkSecond(sec) {
        if (sec < 10 && sec >= 0) {sec = "0" + sec}; // add zero in front of numbers < 10
        if (sec < 0) {sec = "59"};
        return sec;
        }
    </script>
</html>